# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# nodejs
*/package-lock.json
*/node_modules
*/coverage
*/build

# misc
.DS_Store

# logs
*/npm-debug.log*

# java targets
*/.idea
*/target


